h1 {color:blue;}
#total {width: 960px; height: auto; margin: auto; /*centraliza a divisão da pagina*/}
#cabecalho {width: 960px; height: 100px; background-color:black;}
#menu{ float: right; margin-top: 27px;}
