body {
  background-image: url("../imagem/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#total {
  width: 960px;
  height: auto;
  margin: auto;
  border: solid 10px lightgray;
}

#topo {
  width: 960px;
  height: auto;
  background-color: orange;
  padding: 10px 0;
}

#logo {
  width: 200px;
  height: 60px;
  margin: auto;
  background-color: white;
}

#banner {
  width: 960px;
  height: 360px;
  background-image: url("../imagem/banner.jpg");
  position: relative;
}

#menu {
  width: 160px;
  height: 200px;
  background-color: rgb(58, 55, 55);
  margin-top: 50px;
  border-radius: 0 10px 10px 0;
  position: absolute;
}

#menu a {
  width: 100%;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

#menu a:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

#conteudo{
  width: 960px;
  height: 360px;
  background-color: lightsalmon;
}
#conteudo1, #conteudo2, #conteudo3, #conteudo4 {
  width: 60px;
  height: 60px;
  margin-left: 50px;
  display: inline-block;
}
#conteudo1{
  background-color: white;
}
#conteudo2 {
  background-color: red;
}
#conteudo3 {
  background-color: black;
}
#conteudo4{
  background-color: blue;
}